python-dotenv
datasets
torch
transformers
peft
trl
openai
vllm
openrouter
omegaconf
pyyaml
accelerate
loguru
tqdm
pathlib
asyncio
nnterp
matplotlib
safetensors
seaborn
numpy
joblib
scikit-learn
pandas
scikit-dimension
plotly
torchid[cuda]
